table tr td:last-child,
table tr th:first-child,
table tr td:first-child {
    text-align: center;
}

#btn-add {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    min-width: 60px;
    padding: 2px !important;
}